:root {
	/* I've taken the trouble of sourcing a few different colour shemes for your pleasure */

	/* inkpink palette: */
	/*
	--text: #ffffff;
	--highlight: #fe6c90;
	--medium: #d03791;
	--dark: #87286a;
	--background: #260d34;
	*/

	/* molten palette:  */
	/*
	--text: #ffffff;
	--highlight: #a02f40;
	--medium: #5f2f45;
	--dark: #382d43;
	--background: #261b2e;
	*/

	/* twilight 5 palette:   */
	--text: #fbf5ef;
	--highlight: #fd724e;
	--medium: #292831;
	--dark: #333f58;
	--background: #292831;

	--text: #fbf5ef;
	--highlight: #ffce96;
	--medium: #ff7777;
	--dark: #333f58;
	--background: #00303b;

	--margin: 100px;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	scroll-behavior: none;
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;
}

body {
	color: white;
	font-size: 1.5em;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-top: 10px;
}

p, h1, h2, h3 {
	word-break: break-all;
}


ma-frame {
	background-color: var(--dark);
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
	align-items: center;

	min-width: 250px;
	width: 98%;
	padding: 1%;
}

.ma-item {
	margin: 20px;
}

ma-text {
	min-width: 200px;
	width: 98%;
	font-size: 15pt;
	border-style: solid;
	border-radius: 5px;
	color: black;
	background-color: white;
	word-break: break-all;
	user-select: all;

	padding-left: 1pt;
	padding-right: 1pt;
	margin: auto 0;

	display: flex;
	flex-direction: column;
}

ma-text:focus {
	outline-width: 3px;
	outline-color: var(--dark);
	border-color: var(--dark);
}

input[type=number] {
	width: 30%;
	height: 24pt;

	display: inline-block;
	font-size: 15pt;
	border-style: solid;
	border-radius: 5px;

	margin: auto 0;
}

ma-joystick {
	width: 140px;
	height: 140px;
	display: inline-block;
	background-color: var(--medium);
	border-radius: 600px;
	touch-action: manipulation;
}

ma-joystick-handle {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	display: inline-block;

	position: relative;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	background-color: var(--highlight);
	touch-action: manipulation;
	z-index: 1000;
}

ma-button {
	width: 100px;
	height: 100px;
	border-radius: 100px;

	font-weight: bold;
	float: right;

	background-color: var(--highlight);
	color: white;
	font-style: bold;
	font-size: 30pt;
	text-align: center;
	line-height: 100px;

	margin: 10px;

	touch-action: manipulation;
}

ma-button.active {
	background-color: var(--medium);
}

ma-toggle {
	width: 75px;
	height: 75px;
	border-radius: 10px;

	font-weight: bold;
	float: right;

	background-color: var(--highlight);
	color: var(--highlight);
	font-style: bold;
	font-size: 28pt;
	text-align: center;
	line-height: 75px;

	margin: 10px;
	border: 2px;
	border-style: solid;
	border-color: black;

	touch-action: manipulation;
}

ma-toggle.active {
	background-color: var(--medium);
	color: white;
}

ma-button-submit {
	background-color: var(--highlight);
	display: inline-block;
	padding: 15px;
	font-style: bold;
	font-size: 20pt;
	border-radius: 10px;

	color: white;

	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: normal;
}

ma-button-submit:active {
	background-color: var(--medium);
}

ma-color {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 20px;
}

ma-spacer {
	width: 100px;
	height: 100px;
	margin: 20px;
	background-color: rgba(0, 0, 0, 0);
}

ma-br {
	width: 100%;
	height: 0px;
	margin: 0px;
	display: inline-block;
}
