:root {
	--highlight: #5fc75d;
	--medium: #36868f;
	--dark: #203671;
	--background: #0f052d;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	scroll-behavior: none;
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;
}

body {
	color: white;
	font-size: 14pt;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}

ma-frame {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: space-between;
	width: 98%;
	padding: 1%;
}

ma-text {
	min-width: 200px;
	font-size: 15pt;
	border-style: solid;
	border-radius: 5px;
	color: black;

	padding-left: 1pt;
	padding-right: 1pt;
	margin: auto 0;

	display: flex;
	flex-direction: column;
}

ma-text:focus {
	outline-width: 3px;
	outline-color: var(--dark);
	border-color: var(--dark);
}

input[type=number] {
	width: 30%;
	height: 24pt;

	display: inline-block;
	font-size: 15pt;
	border-style: solid;
	border-radius: 5px;

	margin: auto 0;
}

ma-joystick {
	width: 140px;
	height: 140px;
	display: inline-block;
	background-color: var(--dark);
	border-radius: 600px;
	touch-action: manipulation;
}

ma-joystick-handle {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	display: inline-block;

	position: relative;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	background-color: var(--highlight);
	touch-action: manipulation;
	z-index: 1000;
}

ma-button {
	width: 100px;
	height: 100px;
	border-radius: 100px;

	font-weight: bold;
	float: right;

	background-color: var(--highlight);
	color: white;
	font-style: bold;
	font-size: 30pt;
	text-align: center;
	line-height: 100px;

	align-self: flex-end;

	margin: 10px;

	touch-action: manipulation;
}

ma-button:active {
	background-color: var(--medium);
}

ma-button-submit {
	background-color: var(--highlight);
	display: inline-block;
	padding: 10px;
	font-size: 30pt;
	border-radius: 10px;

	color: white;

	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: normal;
}

ma-button-submit:active {
	background-color: var(--medium);
}

ma-color {
	width: 100px;
	height: 100px;
}
