:root {
	--thicc: 4px;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	scroll-behavior: none;
}

body {
	padding: 10px;
}

.joystick {
	width: 150px;
	height: 150px;
	background-color: white;
	border-color: black;
	border-width: var(thicc);
	border-style: solid;
	border-radius: 600px;
	margin: 0 auto;
}

.joystick-handle {
	width: 100px;
	height: 100px;
	border-radius: 100px;

	position: relative;
	top: calc(50% - 50px - var(--thicc));
	left: calc(50% - 50px - var(--thicc));
	background-color: red;
	border-color: black;
	border-width: var(--thicc);
	border-style: solid;
}
